@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*                   FORM ELEMENT PARTIAL                   */
/* -------------------------------------------------------- */

.form-element {
    margin-bottom: 38px;

    label {
        position: relative;
        display: block;
    }
}
