@use "@styles/utils" as *;

/* -------------------------------------------------------- */
/*                       MEDIA STYLES                       */
/* -------------------------------------------------------- */

/* Images */
img {
    width: 100%;
    shape-margin: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
}

/* Videos */
video {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;

    &:fullscreen {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

/* Audio */
audio {
    display: inline-block;
    width: 100%;

    &[controls] {
        margin-top: 0.5rem; /* Optional: Spacing for audio controls */
    }
}

/* Canvas */
canvas {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--color-border);

    /* Fallback for unsupported canvas */
    background: repeating-linear-gradient(
        45deg,
        var(--color-border),
        var(--color-border) 10px,
        transparent 10px,
        transparent 20px
    );
}

/* Iframes */
iframe {
    border: none;
    max-width: 100%;
    height: auto;
    background-color: var(--color-border);
}

/* Svgs */
svg {
    display: inline-block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
