/* -------------------------------------------------------- */
/*                     SET UP VIEWPORTS                     */
/* -------------------------------------------------------- */

$viewports: (
    xs:         0,
    sm:         576px,
    md:         768px,
    lg:         992px,
    xl:         1280px,
    xxl:        1440px,
);


/* -------------------------------------------------------- */
/*                           GRID                           */
/* -------------------------------------------------------- */

$enable-flex-container:		true;
$enable-grid-container:		false;

$grid-columns:  		12;
$col-padding:      		10px;
$container-padding:		10px;

$container-max-widths: (
    sm:         		540px,
    md:         		720px,
    lg:         		960px,
    xl:         		1240px,
    xxl:        		1380px,
);


/* -------------------------------------------------------- */
/*                        COLORSCHEME                       */
/* -------------------------------------------------------- */

$colors: (
	light: (
		
		white: 				#FFFFFF,
		black: 				#000000,

		border: 			#666666,

		primary: 			#6f188d,
		secondary: 			#800080,

		ui-green:           #94b035,
		ui-blue:            #6F8FAF,
		ui-red:             #a90217,

		body-font: 			#292929,
		body-background: 	#E0E0E0,

		code-font:			#E0E0E0,
		code-background:	#292929,

	),
	dark: (

		white: 				#000000,
		black: 				#FFFFFF,

		border: 			#999999,

		primary: 			#A03700,
		secondary: 			#B232B2,

		ui-green:           #94b035,
		ui-blue:            #6F8FAF,
		ui-red:             #a90217,

		body-font: 			#D6D6D6,
		body-background: 	#1F1F1F,

		code-font:			#1F1F1F,
		code-background:	#D6D6D6,

	)
);


/* -------------------------------------------------------- */
/*                        TYPOGRAPHY                        */
/* -------------------------------------------------------- */

$font-size-mobile:			                16px;
$font-size-tablet:			                18px;
$font-size-desktop:			                18px;

$font-size-h1-mobile:			            32px;
$font-size-h2-mobile:			            28px;
$font-size-h3-mobile:			            24px;
$font-size-h4-mobile:			            20px;
$font-size-h5-mobile:			            16px;
$font-size-h6-mobile:			            14px;

$font-size-h1-tablet:			            36px;
$font-size-h2-tablet:			            30px;
$font-size-h3-tablet:			            24px;
$font-size-h4-tablet:			            20px;
$font-size-h5-tablet:			            18px;
$font-size-h6-tablet:			            16px;

$font-size-h1-desktop:		                48px;
$font-size-h2-desktop:		                36px;
$font-size-h3-desktop:		                30px;
$font-size-h4-desktop:		                24px;
$font-size-h5-desktop:		                20px;
$font-size-h6-desktop:		                18px;

$font-letter-spacing:                       normal;

$font-weight-thin:			                100;
$font-weight-extralight:			        200;
$font-weight-light:			                300;
$font-weight-normal:			            400;
$font-weight-medium:		                500;
$font-weight-semibold:		              	600;
$font-weight-bold:			                700;
$font-weight-extrabold:			            800;
$font-weight-black:			                900;


$font-family-body:		                    Arial, sans-serif;
$font-family-headline:		                $font-family-body;
$font-family-monospace:		                Consolas, 'Lucida Console', Monaco, monospace;


$transition-time:                           0.4s;

/* -------------------------------------------------------- */
/*                       Z-INDEX LEVEL                      */
/* -------------------------------------------------------- */

$z-index-1:                                 10;
$z-index-2:                                 20;
$z-index-3:                                 30;
$z-index-4:                                 40;
$z-index-5:                                 50;
$z-index-6:                                 60;
$z-index-7:                                 70;
$z-index-8:                                 80;
$z-index-9:                                 90;
$z-index-10:                                100;
